@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-muted text-foreground antialiased;
    margin: 0;
  }
}
